.heroSectionWrapper {
  background-color: black;
  width: 100vw;
  height: 70px;
}
.HeroSection {
  position: relative;
  background-image: url("../../Assets/Video-capsules-vertes-et-bleues.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  color: white;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeroSectionTitle {
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: Roboto;
}
