.dropdown-component {
  color: black;
  padding-bottom: 60px;
  z-index: 101;
}
.dropdown-container {
  width: 100vw;
}
.dropdown-wrapper {
  margin: auto;
  max-width: 1368px;
  width: 1368px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 600;
  gap: 4px;
  padding-left: 80px;
  height: 70px;
}
/* =========================================== */

.dropdown-title {
  padding: 20px 25px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  display: flex;
  gap: 7px;
}

.drop-down-items ul {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
}
.drop-down-items li {
  width: 100%;
  height: 100%;
  color: black;
  padding: 13px 25px;
  text-align: left;
  /* width: 200px; */
}
.drop-down-items li:hover {
  color: rgb(0, 118, 215);
}

.dropdown-Element {
  position: relative;
  display: flex;
  /* background-color: rgb(255, 0, 0); */
}

.drop-down-items {
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-Element:hover .drop-down-items {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  padding: 0%;
  margin: 0%;
  width: 100%;
}
.dropdown-Element:hover .dropdown-title {
  color: black;
  background-color: rgb(255, 255, 255);
}

.Dropdown-Link {
  text-decoration: none;
}
